span{
    padding: 10px;
    color: rgb(51, 54, 56);
    font-size: 20px;
}

img{

}

.navbar{
    background-color: rgb(169, 159, 159);
    padding: 5px;
}

h1{
    text-align: center;
}

button{
    padding: 10px;
}

table, th, td{
    border: 1px solid #000;
    width: none;
}

table{
    text-align: center;
}

.cart{
    display: flex;
    right: 30px;
    position: absolute;
}
p{
    top: -16px;
    position: absolute;
    left: 20px;
}

.card{
    background-color: #cbc9bc;
    display: inline-block;
    padding: 25px;
    place-items: center;
    gap: 3px;
    width: 35%;
    margin: 0 auto;
    column-gap: 25px;
    flex-wrap: wrap;
}
.product{
    display: flex;
}
img{
    width: 100%;
}
.product__list{
    padding-top: 70px;
}